<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594059965351-s9mg1f5u4qifh0d33r5ruue7u9m4fo1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594059965351-s9mg1f5u4qifh0d33r5ruue7u9m4fo1d</string>
	<key>API_KEY</key>
	<string>AIzaSyAgukAokB-cJlutt8OOoZTApF-H97VD7cg</string>
	<key>GCM_SENDER_ID</key>
	<string>594059965351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chaty.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chaty-77c67</string>
	<key>STORAGE_BUCKET</key>
	<string>chaty-77c67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594059965351:ios:fafadb7c62232a39253c82</string>
</dict>
</plist>